@use "../variables"
@use "../mixins"


.inputGoogle
    @include mixins.icons
    margin-bottom: .3rem

    img 
        position: relative
        left: -10px
        bottom: -5px


.inputFacebook
    @include mixins.icons

    svg
        color: red
    img 
        position: relative
        left: -10px
        bottom: -5px


