@use '../variables'
@use '../mixins'


.modal
    position: absolute
    top: 8%
    left: 50%
    transform: translate(-50%, -50%)
    width: 25rem
    height: rem
    background: variables.$gradienttwo
    border-radius: 0.5rem
    box-shadow: 0 0.5rem 1rem rgba(49, 70, 138, 0.15)
    padding: 1rem
    text-align: center
    color: #fff
    transition: all 15s ease-in-out


