@use '../styles/variables'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  cursor: url(../assets/cursor.png)

html 
  cursor: url(../assets/cursor.png)

:root
  font-family: Roboto, sans-serif
  font-size: 16px
  color:#242424
  background: #e3f3fc

button
  cursor: pointer



